In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [2]:
connection_string = "mongodb://localhost:27017/"
client = MongoClient(connection_string)

In [3]:
db = client.Mortality_Rate_OF_HHS_Region.AVG_Rate_Data

In [4]:
df = pd.read_csv("Data Files/HHSRegionsRate.csv")

In [5]:
df

          Region   Rate
0  HHS Region 01  26.75
1  HHS Region 02  23.05
2  HHS Region 03  29.70
3  HHS Region 04  33.60
4  HHS Region 05  28.85
5  HHS Region 06  32.90
6  HHS Region 07  29.50
7  HHS Region 08  33.20
8  HHS Region 09  32.90
9  HHS Region 10  34.55

In [6]:
df['Region'] = df['Region'].str.replace(r'HHS Region (\d+)', r'HHS \1', regex=True)

In [7]:
df

   Region   Rate
0  HHS 01  26.75
1  HHS 02  23.05
2  HHS 03  29.70
3  HHS 04  33.60
4  HHS 05  28.85
5  HHS 06  32.90
6  HHS 07  29.50
7  HHS 08  33.20
8  HHS 09  32.90
9  HHS 10  34.55

In [8]:
df.columns =['name', 'value']

In [9]:
df

     name  value
0   HHS 1  26.75
1   HHS 2  23.05
2   HHS 3  29.70
3   HHS 4  33.60
4   HHS 5  28.85
5   HHS 6  32.90
6   HHS 7  29.50
7   HHS 8  33.20
8   HHS 9  32.90
9  HHS 10  34.55

In [10]:
df['value'] = df['value'].round(2)

In [11]:
df

     name  value
0   HHS 1  26.75
1   HHS 2  23.05
2   HHS 3  29.70
3   HHS 4  33.60
4   HHS 5  28.85
5   HHS 6  32.90
6   HHS 7  29.50
7   HHS 8  33.20
8   HHS 9  32.90
9  HHS 10  34.55

In [12]:
data = df.to_dict(orient='records')

In [13]:
data

[{'name': 'HHS 1', 'value': 26.75},
 {'name': 'HHS 2', 'value': 23.05},
 {'name': 'HHS 3', 'value': 29.7},
 {'name': 'HHS 4', 'value': 33.6},
 {'name': 'HHS 5', 'value': 28.85},
 {'name': 'HHS 6', 'value': 32.9},
 {'name': 'HHS 7', 'value': 29.5},
 {'name': 'HHS 8', 'value': 33.2},
 {'name': 'HHS 9', 'value': 32.9},
 {'name': 'HHS 10', 'value': 34.55}]

In [14]:
data = {'request': 'Region', "title":"Average Mortality Rate in every Region", 'hue':False, 'data': data}

In [15]:
db.insert_one(data)

InsertOneResult(ObjectId('67128e2136e25fb2d33ce19e'), acknowledged=True)

In [16]:
df = pd.read_csv('Data Files/HHS_StatusRate.csv')

In [17]:
df

  Status   Rate
0  Rural  32.85
1  Urban  27.75

In [18]:
df.columns = ['name', 'value']

In [19]:
df

    name  value
0  Rural  32.85
1  Urban  27.75

In [20]:
df['value'] = df['value'].round(2)

In [21]:
data = df.to_dict(orient='records')
data

[{'name': 'Rural', 'value': 32.85}, {'name': 'Urban', 'value': 27.75}]

In [22]:
data = {'request': 'Urban || Rural', "title":"Average Mortality Rate in Rural/Urban", 'hue':False, 'data': data}

In [23]:
db.insert_one(data)

InsertOneResult(ObjectId('67128e4536e25fb2d33ce19f'), acknowledged=True)

In [24]:
df = pd.read_csv('Data Files/HHS_SexRate.csv')
df

      Sex   Rate
0  Female  28.15
1    Male  32.65

In [25]:
df.columns = ['name', 'value']

In [26]:
df

     name  value
0  Female  28.15
1    Male  32.65

In [27]:
df['value'] = df['value'].round(2)

In [28]:
data = df.to_dict(orient='records')
data

[{'name': 'Female', 'value': 28.15}, {'name': 'Male', 'value': 32.65}]

In [29]:
data = {'request': 'Gender', "title":"Average Mortality Rate Between Male and Female", 'hue':False, 'data': data}

In [30]:
db.insert_one(data)

InsertOneResult(ObjectId('67128e5636e25fb2d33ce1a0'), acknowledged=True)

In [31]:
df = pd.read_csv('Data Files/HHSRegionStatusRate.csv')
df.head()

          Region Status   Rate
0  HHS Region 01  Rural  28.35
1  HHS Region 01  Urban  22.15
2  HHS Region 02  Rural  23.95
3  HHS Region 02  Urban  22.55
4  HHS Region 03  Rural  36.15

In [32]:
unique_regions = df['Region'].unique()
region_mapping = {region: f'HHS {i+1}' for i, region in enumerate(unique_regions)}

# Apply the mapping to the Region column
df['Region'] = df['Region'].map(region_mapping)

In [33]:
df['Rate'] = df['Rate'].round(2)

In [34]:
data = []
for region, group in df.groupby('Region'):
    temp = {
        'name': region,
        'values': dict(zip(group['Status'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'HHS 1', 'values': {'Rural': 28.35, 'Urban': 22.15}},
 {'name': 'HHS 10', 'values': {'Rural': 35.5, 'Urban': 32.55}},
 {'name': 'HHS 2', 'values': {'Rural': 23.95, 'Urban': 22.55}},
 {'name': 'HHS 3', 'values': {'Rural': 36.15, 'Urban': 24.65}},
 {'name': 'HHS 4', 'values': {'Rural': 38.25, 'Urban': 27.2}},
 {'name': 'HHS 5', 'values': {'Rural': 30.75, 'Urban': 26.3}},
 {'name': 'HHS 6', 'values': {'Rural': 36.45, 'Urban': 27.35}},
 {'name': 'HHS 7', 'values': {'Rural': 32.85, 'Urban': 28.25}},
 {'name': 'HHS 8', 'values': {'Rural': 35.25, 'Urban': 31.8}},
 {'name': 'HHS 9', 'values': {'Rural': 36.0, 'Urban': 28.7}}]

In [35]:
data = {'request': 'Region-Urban || Rural', "title":"Average Mortality Rate By Urban/Rural in Every Region", 'hue':True, 'data': data}

In [36]:
db.insert_one(data)

InsertOneResult(ObjectId('67128e6a36e25fb2d33ce1a1'), acknowledged=True)

In [37]:
df = pd.read_csv('Data Files/RuralAreaRate.csv')

In [38]:
df.head()

          Region Status     Sex   Rate
0  HHS Region 01  Rural  Female  28.35
1  HHS Region 01  Rural    Male  28.40
2  HHS Region 02  Rural  Female  20.65
3  HHS Region 02  Rural    Male  28.70
4  HHS Region 03  Rural  Female  33.00

In [39]:
df['Region'] = df['Region'].str.replace(r'HHS Region (\d+)', r'HHS \1', regex=True)
df.drop('Status', axis=1, inplace=True)

In [40]:
df['Rate'] = df['Rate'].round(2)

In [41]:
df.head()

   Region     Sex   Rate
0  HHS 01  Female  28.35
1  HHS 01    Male  28.40
2  HHS 02  Female  20.65
3  HHS 02    Male  28.70
4  HHS 03  Female  33.00

In [42]:
data = []
for region, group in df.groupby('Region'):
    temp = {
        'name': region,
        'values': dict(zip(group['Sex'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'HHS 01', 'values': {'Female': 28.35, 'Male': 28.4}},
 {'name': 'HHS 02', 'values': {'Female': 20.65, 'Male': 28.7}},
 {'name': 'HHS 03', 'values': {'Female': 33.0, 'Male': 37.5}},
 {'name': 'HHS 04', 'values': {'Female': 38.25, 'Male': 40.55}},
 {'name': 'HHS 05', 'values': {'Female': 30.75, 'Male': 34.55}},
 {'name': 'HHS 06', 'values': {'Female': 36.45, 'Male': 39.35}},
 {'name': 'HHS 07', 'values': {'Female': 32.85, 'Male': 32.6}},
 {'name': 'HHS 08', 'values': {'Female': 33.15, 'Male': 35.25}},
 {'name': 'HHS 09', 'values': {'Female': 30.75, 'Male': 36.0}},
 {'name': 'HHS 10', 'values': {'Female': 35.55, 'Male': 34.65}}]

In [43]:
data = {'request': 'Region-Rural-Gender', "title":"Average Mortality Rate Between Male and Female in Rural Area", 'hue':True, 'data': data}

In [44]:
db.insert_one(data)

InsertOneResult(ObjectId('67128ed336e25fb2d33ce1a2'), acknowledged=True)

In [45]:
df = pd.read_csv('Data Files/UrbanAreaRate.csv')

In [46]:
df.head()

          Region Status     Sex   Rate
0  HHS Region 01  Urban  Female  22.15
1  HHS Region 01  Urban    Male  23.80
2  HHS Region 02  Urban  Female  16.10
3  HHS Region 02  Urban    Male  25.95
4  HHS Region 03  Urban  Female  22.10

In [47]:
df['Region'] = df['Region'].str.replace(r'HHS Region (\d+)', r'HHS \1', regex=True)
df.drop('Status', axis=1, inplace=True)

In [48]:
df['Rate'] = df['Rate'].round(2)

In [49]:
data = []
for region, group in df.groupby('Region'):
    temp = {
        'name': region,
        'values': dict(zip(group['Sex'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'HHS 01', 'values': {'Female': 22.15, 'Male': 23.8}},
 {'name': 'HHS 02', 'values': {'Female': 16.1, 'Male': 25.95}},
 {'name': 'HHS 03', 'values': {'Female': 22.1, 'Male': 31.6}},
 {'name': 'HHS 04', 'values': {'Female': 27.2, 'Male': 31.35}},
 {'name': 'HHS 05', 'values': {'Female': 25.95, 'Male': 32.45}},
 {'name': 'HHS 06', 'values': {'Female': 27.35, 'Male': 33.8}},
 {'name': 'HHS 07', 'values': {'Female': 28.25, 'Male': 30.3}},
 {'name': 'HHS 08', 'values': {'Female': 31.8, 'Male': 31.4}},
 {'name': 'HHS 09', 'values': {'Female': 26.3, 'Male': 29.9}},
 {'name': 'HHS 10', 'values': {'Female': 31.8, 'Male': 33.35}}]

In [50]:
data = {'request': 'Region-Urban-Gender', "title":"Average Mortality Rate Between Male and Female in Urban Area", 'hue':True, 'data': data}

In [51]:
db.insert_one(data)

InsertOneResult(ObjectId('67128f0536e25fb2d33ce1a3'), acknowledged=True)

In [52]:
df = pd.read_csv('Data Files/HHS_CauseRate.csv')
df.head()

                      Cause    Rate
0             Heart disease  175.85
1                    Cancer  161.85
2         Lower respiratory   45.95
3    Unintentional injuries   41.10
4  Cerebrovascular diseases   37.35

In [53]:
df.columns = ['name', 'value']

In [54]:
df['value'] = df['value'].round(2)

In [55]:
df.head()

                       name   value
0             Heart disease  175.85
1                    Cancer  161.85
2         Lower respiratory   45.95
3    Unintentional injuries   41.10
4  Cerebrovascular diseases   37.35

In [56]:
data = df.to_dict(orient='records')
data

[{'name': 'Heart disease', 'value': 175.85},
 {'name': 'Cancer', 'value': 161.85},
 {'name': 'Lower respiratory', 'value': 45.95},
 {'name': 'Unintentional injuries', 'value': 41.1},
 {'name': 'Cerebrovascular diseases', 'value': 37.35},
 {'name': 'Alzheimers', 'value': 23.75},
 {'name': 'Diabetes', 'value': 22.95},
 {'name': 'Flu and pneumonia', 'value': 15.55},
 {'name': 'Nephritis', 'value': 12.9},
 {'name': 'Suicide', 'value': 11.15}]

In [57]:
data = {'request': 'Cause', "title":"Average Mortality Rate by Every Cause", 'hue':False, 'data': data}

In [58]:
db.insert_one(data)

InsertOneResult(ObjectId('67128f2136e25fb2d33ce1a4'), acknowledged=True)

In [59]:
df = pd.read_csv('Data Files/HHS_StatusCauseRate.csv')
df.head()

  Status              Cause    Rate
0  Rural      Heart disease  184.00
1  Rural             Cancer  165.20
2  Urban             Cancer  158.45
3  Urban      Heart disease  157.55
4  Rural  Lower respiratory   50.90

In [60]:
df['Rate'] = df['Rate'].round(2)

In [61]:
data = []
for cause, group in df.groupby('Cause'):
    temp = {
        'name': cause,
        'values': dict(zip(group['Status'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'Alzheimers', 'values': {'Rural': 23.9, 'Urban': 22.75}},
 {'name': 'Cancer', 'values': {'Rural': 165.2, 'Urban': 158.45}},
 {'name': 'Cerebrovascular diseases',
  'values': {'Rural': 39.65, 'Urban': 36.45}},
 {'name': 'Diabetes', 'values': {'Rural': 24.6, 'Urban': 19.55}},
 {'name': 'Flu and pneumonia', 'values': {'Rural': 17.7, 'Urban': 14.45}},
 {'name': 'Heart disease', 'values': {'Rural': 184.0, 'Urban': 157.55}},
 {'name': 'Lower respiratory', 'values': {'Rural': 50.9, 'Urban': 40.0}},
 {'name': 'Nephritis', 'values': {'Rural': 12.9, 'Urban': 12.9}},
 {'name': 'Suicide', 'values': {'Rural': 15.0, 'Urban': 10.65}},
 {'name': 'Unintentional injuries', 'values': {'Rural': 45.45, 'Urban': 36.2}}]

In [62]:
data = {'request': 'Cause-Urban || Rural', "title":"Average Mortality Rate by Every Cause in Rural/Urban Area", 'hue':True, 'data': data}

In [63]:
db.insert_one(data)

InsertOneResult(ObjectId('67128f3f36e25fb2d33ce1a5'), acknowledged=True)

In [64]:
df = pd.read_csv('Data Files/HHS_SexCauseRate.csv')
df.head()

      Sex                     Cause    Rate
0  Female                Alzheimers   27.85
1  Female                    Cancer  144.25
2  Female  Cerebrovascular diseases   37.35
3  Female                  Diabetes   17.75
4  Female         Flu and pneumonia   13.75

In [65]:
df['Rate'] = df['Rate'].round(2)

In [66]:
data = []
for cause, group in df.groupby('Cause'):
    temp = {
        'name': cause,
        'values': dict(zip(group['Sex'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'Alzheimers', 'values': {'Female': 27.85, 'Male': 20.8}},
 {'name': 'Cancer', 'values': {'Female': 144.25, 'Male': 203.5}},
 {'name': 'Cerebrovascular diseases',
  'values': {'Female': 37.35, 'Male': 37.3}},
 {'name': 'Diabetes', 'values': {'Female': 17.75, 'Male': 25.25}},
 {'name': 'Flu and pneumonia', 'values': {'Female': 13.75, 'Male': 18.55}},
 {'name': 'Heart disease', 'values': {'Female': 135.15, 'Male': 215.5}},
 {'name': 'Lower respiratory', 'values': {'Female': 40.75, 'Male': 51.2}},
 {'name': 'Nephritis', 'values': {'Female': 11.65, 'Male': 16.85}},
 {'name': 'Suicide', 'values': {'Female': 5.8, 'Male': 23.7}},
 {'name': 'Unintentional injuries',
  'values': {'Female': 28.75, 'Male': 55.75}}]

In [67]:
data = {'request': 'Cause-Gender', "title":"Average Mortality Rate by Every Cause and Gender", 'hue':True, 'data': data}

In [68]:
db.insert_one(data)

InsertOneResult(ObjectId('67128f7436e25fb2d33ce1a6'), acknowledged=True)

In [69]:
df = pd.read_csv('Data Files/RuralAreaSexCauseRate.csv')
df.head()

  Status     Sex                     Cause    Rate
0  Rural  Female                Alzheimers   28.75
1  Rural  Female                    Cancer  150.70
2  Rural  Female  Cerebrovascular diseases   40.10
3  Rural  Female                  Diabetes   19.60
4  Rural  Female         Flu and pneumonia   14.90

In [70]:
df['Rate'] = df['Rate'].round(2)

In [71]:
data = []
for cause, group in df.groupby('Cause'):
    temp = {
        'name': cause,
        'values': dict(zip(group['Sex'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'Alzheimers', 'values': {'Female': 28.75, 'Male': 21.05}},
 {'name': 'Cancer', 'values': {'Female': 150.7, 'Male': 209.5}},
 {'name': 'Cerebrovascular diseases',
  'values': {'Female': 40.1, 'Male': 38.15}},
 {'name': 'Diabetes', 'values': {'Female': 19.6, 'Male': 27.2}},
 {'name': 'Flu and pneumonia', 'values': {'Female': 14.9, 'Male': 19.35}},
 {'name': 'Heart disease', 'values': {'Female': 146.55, 'Male': 233.35}},
 {'name': 'Lower respiratory', 'values': {'Female': 45.45, 'Male': 59.6}},
 {'name': 'Nephritis', 'values': {'Female': 12.05, 'Male': 15.45}},
 {'name': 'Suicide', 'values': {'Female': 6.2, 'Male': 26.45}},
 {'name': 'Unintentional injuries', 'values': {'Female': 38.2, 'Male': 69.55}}]

In [72]:
data = {'request': 'Cause-Rural-Gender', "title":"Average Mortality Rate in Rural Area by Cause and Gender", 'hue':True, 'data': data}

In [73]:
db.insert_one(data)

InsertOneResult(ObjectId('67128f9536e25fb2d33ce1a7'), acknowledged=True)

In [74]:
df = pd.read_csv('Data Files/UrbanAreaSexCauseRate.csv')
df.head()

  Status     Sex                     Cause    Rate
0  Urban  Female                Alzheimers   26.85
1  Urban  Female                    Cancer  140.10
2  Urban  Female  Cerebrovascular diseases   35.80
3  Urban  Female                  Diabetes   16.95
4  Urban  Female         Flu and pneumonia   12.85

In [75]:
df['Rate'] = df['Rate'].round(2)

In [76]:
data = []
for cause, group in df.groupby('Cause'):
    temp = {
        'name': cause,
        'values': dict(zip(group['Sex'], group['Rate'])) 
    }
    data.append(temp)
    
data

[{'name': 'Alzheimers', 'values': {'Female': 26.85, 'Male': 20.35}},
 {'name': 'Cancer', 'values': {'Female': 140.1, 'Male': 198.05}},
 {'name': 'Cerebrovascular diseases',
  'values': {'Female': 35.8, 'Male': 37.15}},
 {'name': 'Diabetes', 'values': {'Female': 16.95, 'Male': 25.1}},
 {'name': 'Flu and pneumonia', 'values': {'Female': 12.85, 'Male': 18.15}},
 {'name': 'Heart disease', 'values': {'Female': 131.65, 'Male': 211.4}},
 {'name': 'Lower respiratory', 'values': {'Female': 37.75, 'Male': 47.4}},
 {'name': 'Nephritis', 'values': {'Female': 11.3, 'Male': 17.65}},
 {'name': 'Suicide', 'values': {'Female': 5.25, 'Male': 19.65}},
 {'name': 'Unintentional injuries',
  'values': {'Female': 26.45, 'Male': 51.35}}]

In [77]:
data = {'request': 'Cause-Urban-Gender', "title":"Average Mortality Rate in Urban Area by Cause and Gender", 'hue':True, 'data': data}

In [78]:
db.insert_one(data)

InsertOneResult(ObjectId('67128fa836e25fb2d33ce1a8'), acknowledged=True)

In [83]:
del data

In [84]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Cause/HHS_RegionCauseRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df.columns = ['name', 'value']
    df['value'] = df['value'].round(2)
    data = df.to_dict(orient='records')
    main_data = {'request': f'HHS{i}-Cause', "title": f"Average Mortality Rate by Cause in HHS {i} Region", 'hue':False, 'data': data}
    db.insert_one(main_data)

In [87]:
del data
del main_data

In [88]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Status/HHS_RegionStatusRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df.columns = ['name', 'value']
    df['value'] = df['value'].round(2)
    data = df.to_dict(orient='records')
    main_data = {'request': f'HHS{i}-Urban || Rural', "title": f"Average Mortality Rate by Rural/Urban in HHS {i} Region", 'hue':False, 'data': data}
    db.insert_one(main_data)

In [91]:
del data
del main_data

In [92]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Gender/HHS_RegionSexRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df.columns = ['name', 'value']
    df['value'] = df['value'].round(2)
    data = df.to_dict(orient='records')
    main_data = {'request': f'HHS{i}-Gender', "title": f"Average Mortality Rate by Gender in HHS {i} Region", 'hue':False, 'data': data}
    db.insert_one(main_data)

In [93]:
del data
del main_data

In [94]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Status_Gender/HHS_RegionStatusSexRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df['Rate'] = df['Rate'].round(2)
    val = df.to_dict(orient='list')

    data=[{'name':'Rural', 'values':{'Male':val['Rate'][0], 'Female':val['Rate'][1]}},{'name':'Urban', 'values':{'Male':val['Rate'][2], 'Female':val['Rate'][3]}}]
    
    main_data = {'request': f'HHS{i}-Cause-Urban || Rural', "title": f"Average Mortality Rate by Urban/Rural and Gender in HHS {i} Region", 'hue':True, 'data': data}
    db.insert_one(main_data)

In [102]:
del data
del main_data

In [106]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Status_Cause/HHS_RegionStatusCauseRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df['Rate'] = df['Rate'].round(2)
    val = df.to_dict(orient='records')

    data = list()

    for val1, val2 in zip(val[:11], val[10:]):
        temp = {'name':val1['Cause'], 'values':{val1['Status']:val1['Rate'], val2['Status']:val2['Rate']}}
        data.append(temp)

    main_data = {'request': f'HHS{i}-Urban || Rural-Cause', "title": f"Average Mortality Rate by Cause and Urban/Rural in HHS {i} Region", 'hue':True, 'data': data}
    db.insert_one(main_data)

In [114]:
del data
del main_data

In [115]:
for i in range(1, 11):
    df = pd.read_csv(f'Data Files/Regions_Cause_Gender/HHS_RegionSexCauseRate_HHS Region {i:02}.csv')
    df.drop('Region', axis=1, inplace=True)
    df['Rate'] = df['Rate'].round(2)
    val = df.to_dict(orient='records')

    data = list()

    for val1, val2 in zip(val[:11], val[10:]):
        temp = {'name':val1['Cause'], 'values':{val1['Sex']:val1['Rate'], val2['Sex']:val2['Rate']}}
        data.append(temp)

    main_data = {'request': f'HHS{i}-Cause-Gender', "title": f"Average Mortality Rate by Cause and Gender in HHS {i} Region", 'hue':True, 'data': data}
    db.insert_one(main_data)